@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  font-family: 'Kanit', arial, sans-serif;
  letter-spacing: .05rem;
}

.page-container {
  height: 100%;
  display: grid;
  grid-template: 1fr 4fr / 1.125fr 4fr;
}

/* nav styling */

nav {
  background-color: #229D8C;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

ul {
  display: grid;
  gap: 10px;
}

ul div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  width: fit-content;
}

ul div:hover {
  cursor: pointer;
}

li {
  list-style: none;
  color: #fff;
}

.logo h1 {
  color: #fff;
  font-size: 3rem;
  margin-left: 20px;
  margin-right: 20px;
}

.logo h1 span {
  display: block;
  font-size: 1.1rem;
  margin-top: -10px;
}

nav .icon {
  width: 22px;
  margin-left: 20px;

  /* method to change black svg to desired hex color equivalent */
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(100%) sepia(14%) saturate(0%) hue-rotate(128deg) brightness(107%) contrast(101%);
}

/* header styling */

.header-top {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 100px;
  
  margin: 10px 20px;
}

.profile-pic,
.profile-pic-lg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-pic-lg {
  width: 65px;
  height: 65px;
}

.header-top .icon,
.client-card-icons .icon {
  width: 22px;
}

.header-top-left {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

img[src$="search.svg"] {
  margin-right: 15px;
}

#searchbar {
  border: none;
  border-radius: 25px;
  padding: 4px 12px;
  font-size: 1.25rem;
  font-family: inherit;
  background-color: #f5f5f5;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#searchbar:focus {
  outline: 2px solid #2a454e;
  border: none;
}

.header-top-right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  gap: 25px;
}

img[src$="bell.svg"] {
  cursor: pointer;
}

.header-bottom {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 15px;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 25px;
}

.hdr-btm-lft-txt .sm-txt-bld {
  margin-bottom: -8px;
}

button {
  border: none;
  padding: 10px 22px;
  background-color: #229D8C;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #28B8A5;
}

/* main content */

main {
  background-color: #f5f5f5;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "clients announcements"
  "clients trending";
}

/* clients */

.clients-container {
  grid-area: clients;
  margin: 30px;
}

.clients-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.client-card {
  background-color: #fff;
  border-radius: 8px;
  border-left: 8px solid #2a454e;
  padding: 15px 25px 20px 25px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: grid;
  grid-template-rows: 1fr auto;
}

.client-card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.client-card-icons .icon {
  cursor: pointer;
}

/* announcements */

.announcements-container {
  grid-area: announcements;
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 30px 30px 30px 0;
}

.announcements-grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;

  background-color: #fff;
  border-radius: 8px;
  padding: 15px 25px 20px 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.announce-msg:not(.announce-msg:last-child) {
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

/* trending */

.trending-container {
  border: 1px solid green;

  grid-area: trending;
  margin: 0 30px 30px 0;
}

/* typography */

.client-card-txt .md-txt-light {
  line-height: 1.3rem;
}

.announce-msg .sm-txt-light {
  line-height: 1rem;
}

.sm-txt-light {
  font-size: 0.9rem;
  font-weight: 300;
  color: #808080;
}

.md-txt-light {
  font-size: 1.1rem;
  font-weight: 300;
  color: #808080;
}

.sm-txt-bld {
  font-size: 1.1rem;
  font-weight: 500;
}

.md-txt-bld {
  font-size: 1.25rem;
  font-weight: 500;
}

.lg-txt-bld {
  font-size: 1.5rem;
  font-weight: 500;
}